<h1>Ask page</h1>
<form action="/answer" method="get">
  <label for="question">Ask your coach:</label>
  <input type="text" id="question" name="question">
  <input type="submit" id="submit" name="submit" value="Ask!">
</form>
